# Template:
# https://github.com/github/gitignore/blob/main/Dotnet.gitignore

# dotenv environment variable files
.env
.env.*
!.env.example

# Cryptographical Keys
*.snk

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Others
~$*
*~
CodeCoverage/
.vs
.idea
launchSettings.json
*.user

# Node.js
node_modules
package-lock.json

# Project
/Source/Deployment/Packaging/NPM/contents/platforms
/Source/Deployment/Packaging/NPM/contents/toolkits
/Source/Deployment/Packaging/NPM/contents/README.md
Branding
