<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>

    <FeatureGroup Id="FG.Product">
      <Feature Id="F.Product"
               Title="GNU-TK"
               Description="!(loc.ProductDescription)"
               AllowAbsent="false"
               AllowAdvertise="false">
        <ComponentGroupRef Id="CG.Product" />
      </Feature>
    </FeatureGroup>

    <ComponentGroup Id="CG.Product" Directory="INSTALLFOLDER">
      <Component Guid="10CCEC14-8F98-4239-921C-51D1B945B6C8">
        <File Source="../../../Gapotchenko.GnuTK/bin/Release/$(TFM)/win-$(Platform)/publish/Gapotchenko.GnuTK.exe" Name="gnu-tk.exe" />
        <!-- Register in the system PATH. -->
        <Environment Name="PATH" Action="set" Permanent="false" Part="last" System="true" Value="[INSTALLFOLDER]" />
        <!-- Store product information in registry so that other software can find it. -->
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" />
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="Version" Type="string" Value="$(ProductVersion)" />
      </Component>

      <ComponentRef Id="C.Product.Legal" />
      <ComponentRef Id="C.Product.Documentation" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Name="Legal">
        <Component Id="C.Product.Legal" Guid="6CFA5E40-2597-4CDA-AF98-F451BE5A5167">
          <File Source="../../../../LICENSE" Name="LICENSE.txt" />
        </Component>
      </Directory>
      <Directory Name="Documentation">
        <Component Id="C.Product.Documentation" Guid="00DDA997-5A11-42FD-AD60-538EF9C57732">
          <File Source="../../../../README.md" />
          <File Source="../../../../Documentation/ABOUT" Name="ABOUT.txt" />
          <File Source="../../../../Documentation/CHANGELOG.md" />
        </Component>
      </Directory>
    </DirectoryRef>

  </Fragment>
</Wix>
