<?define UpgradeCode = "C8CA4814-E3CF-4907-912D-96F6A0F32D24" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="$(Manufacturer).GnuTK" UpgradeCode="$(UpgradeCode)" Name="GNU-TK" Manufacturer="$(Manufacturer)" Version="$(Version)">

    <!-- Launch conditions -->
    <Property Id="P.Launch.RequiredOS" Value="Windows 10" />
    <Property Id="P.LAUNCH.WINDOWS10">
      <DirectorySearch Id="DS.Launch.Windows10" Path="[SystemFolder]" Depth="0">
        <FileSearch Name="advapi32.dll" MinVersion="6.3.10000.0"/>
      </DirectorySearch>
    </Property>
    <Launch Condition="Installed OR VersionNT >= 1000 OR P.LAUNCH.WINDOWS10" Message="!(loc.LaunchOSError)" />

    <!-- Upgrades -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" IgnoreLanguage="true" />

    <Upgrade Id="$(UpgradeCode)">
      <UpgradeVersion
          Minimum="$(Version)" IncludeMinimum="true"
          Maximum="$(Version)" IncludeMaximum="true"
          ExcludeLanguages="true"
          OnlyDetect="true"
          Property="P.UPGRADE.SAMEVER" />
    </Upgrade>
    <Launch Condition="Installed OR NOT P.UPGRADE.SAMEVER" Message="!(loc.SameVersionError)" />

    <!-- Inherit INSTALLFOLDER from an already installed version, if there is any. -->
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="RS.InstallFolder" Type="directory" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" />
    </Property>

    <!-- Media -->
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="$(CompressionLevel)" />

    <!-- Directory layout -->
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Name="!(bind.Property.Manufacturer)">
        <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
          <Directory Id="D.Metadata" Name="Metadata" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- SWID tag -->
    <?ifdef WixSwidRegId ?>
    <SoftwareTag Feature="F.Product" InstallDirectory="D.Metadata" Regid="$(SwidRegId)" />
    <?endif?>

    <!-- Features -->
    <FeatureGroupRef Id="FG.Product"/>
    <FeatureGroupRef Id="FG.Toolkits"/>

    <UIRef Id="UI"/>

  </Package>
</Wix>
